  .post-card .card-content {
    flex-grow: 1;
  }

  .post-card .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  @media screen and (max-width: 768px) {
    .column.is-one-third {
      width: 100% !important;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1023px) {
    .column.is-one-third {
      width: 50% !important;
    }
  }