.banner-index img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
}

.recent-post:hover{
    color: #2366d1;
    border-bottom: 1px solid #2366d1;
    background-color: rgba(50, 115, 220, 0.1);
    padding: 0 2px;
    border-radius: 2px;
}