<footer class="footer custom-footer">
    <div class="container">
        <div class="columns">
            <div class="column is-5">
                <h4 class="title is-5 has-text-white">About This Blog</h4>
                <p class="has-text-grey-light">
                    Welcome to my personal blog where I share thoughts on
                    technology, programming, space exploration, and life
                    adventures. Join me on this journey!
                </p>
            </div>
            <div class="column is-4">
                <h4 class="title is-5 has-text-white">Resources</h4>
                <ul class="footer-links">
                    <li><a href="/" class="has-text-grey-light"><i class="fas fa-home"></i> Home</a></li>
                    <li>
                        <a href="/posts" class="has-text-grey-light"
                            ><i class="fas fa-newspaper"></i> Posts</a>
                    </li>
                    <li>
                        <a href="/contact" class="has-text-grey-light"
                            ><i class="fas fa-envelope"></i> Contact Me</a>
                    </li>
                    <li>
                        <a href="/author-notes" class="has-text-grey-light"
                            ><i class="fas fa-sticky-note"></i> Author Notes</a>
                    </li>
                </ul>
            </div>
            
            <div class="column is-3">
                <h4 class="title is-4 has-text-white">Connect</h4>
                <div class="social-links">
                    <a
                        href="https://github.com/astronautmarkus"
                        class="button is-small is-light social-btn"
                        target="_blank"
                        rel="noopener"
                    >
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                    </a>
                    <a
                        href="https://linkedin.com/in/markusreyes"
                        class="button is-small is-link social-btn"
                        target="_blank"
                        rel="noopener"
                    >
                        <span class="icon">
                            <i class="fab fa-linkedin"></i>
                        </span>
                    </a>
                    <a
                        href="https://x.com/astronautmarkus"
                        class="button is-small is-dark social-btn"
                        target="_blank"
                        rel="noopener"
                    >
                        <span class="icon">
                            <i class="fab fa-x-twitter"></i>
                        </span>
                    </a>
                    <a
                        href="mailto:marcos@reyesandfriends.cl"
                        class="button is-small is-warning social-btn"
                    >
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <hr class="footer-divider" />
        <div class="columns is-vcentered">
            <div class="column">
                <p class="has-text-grey-light">
                    © {new Date().getFullYear()} Marcos Reyes / AstronautMarkus.
                    All rights reserved.
                </p>
            </div>
            <div class="column is-narrow">
                <p class="has-text-grey-light">
                    Made with <span class="has-text-danger"><i class="fas fa-heart"></i></span> using  <i class="devicon-astro-plain"></i>
                    & <i class="devicon-bulma-plain colored"></i>
                </p>
            </div>
        </div>
    </div>
</footer>
